<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <ul>
                    <li><a href ="{% url "logout"%}">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {%for attribute in receipts%}
                <tr>
                    <td>{{attribute.vendor}}</td>
                    <td>{{attribute.total}}</td>
                    <td>{{attribute.tax}}</td>
                    <td>{{attribute.date|date:"m/d/y"}}</td>
                    <td>{{attribute.category.name}}</td>
                    <td>{{attribute.account.name}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>

</body>
</html>
